body{
    display: flex;
    flex-direction:column;
    justify-content: center ;
    align-items: center;
    height : 100vh;
    width: 100%;
    background-color: #961111;
    margin: 0px;
    font-family: 'Spline Sans', sans-serif;
}
form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
}
form > h1{
    color: white;
    font-size: 40px;
    font-family: 'Azeret Mono', sans-serif;
}
form > input[type="text"] ,form > input[type="number"]  {
    width: 500px;
    height: 20px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom:solid .5px white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin: 10px;
    font-size:16px ;
    padding: 2px;
}
form > textarea{
    width: 500px;
    height: 100px;
    resize: none;
    border:solid .5px  white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    margin: 10px;
}
form > input[type="submit"]{
    background-color: white;
    color: #7D0A0A ;
    border:0px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
    padding: 2px;
}
::placeholder {
    color: #f8f8f8a0;
}